name: Add labels to PR

on:
  pull_request_target:
    types: [ opened ]

jobs:
  addLabelsAsNeeded:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Add "Strings" label/comment if needed
        env:
          REF_NAME: ${{ github.event.pull_request.head.ref }}
        uses: actions/github-script@v6
        with:
          script: |
            if ("$REF_NAME" != 'i18n_sync') {
              const I18N_FILES = [
                  "01-core",
                  "02-strings",
                  "03-dialogs",
                  "04-network",
                  "05-feedback",
                  "06-statistics",
                  "07-cardbrowser",
                  "08-widget",
                  "09-backup",
                  "10-preferences",
                  "11-arrays",
                  "16-multimedia-editor",
                  "17-model-manager",
                  "18-standard-models",
                  "marketdescription",
                  "ankidroid-titles",
              ];
  
              let stringsLabel = "strings";
  
              async function addLabel(labels) {
                await github.rest.issues.addLabels({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  labels: labels
                });
              }
  
              async function addComments() {
                await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  body: `Message to maintainers, this PR contains strings changes. 
              1. Before merging this PR, it is best to run the "Sync Translations" GitHub action, then make and merge a PR from the i18n_sync branch to get translations cleaned out.
              2. Then merge this PR, and immediately do another translation PR so the huge change made by this PR's key changes are all by themselves.
                  
              Read more about updating strings on the wiki,
              - [localization-administration](https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#localization-administration)
              - [download-localized-strings](https://github.com/ankidroid/Anki-Android/wiki/Development-Guide#download-localized-strings)`
                })
              }
  
              const changedFiles = await github.rest.pulls.listFiles({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: context.issue.number,
              });
  
              // loop through list of files in current pr, then check if filename contains in i18n file name,
              // set boolean to true and use the boolean in outer loop to add label
              let fileChanged = false;
              for (let files of changedFiles.data) {
                for (let i18n of I18N_FILES) {
                  if (files.filename.includes(i18n)) {
                    fileChanged = true;
                    break;
                  }
                }
  
                if (fileChanged) {
                  addLabel([stringsLabel]);
                  addComments();
                  break;
                }
              }
            } else {
              console.log("Attempted to run the 'Strings' workflow on the translation sync branch!");
            }

      - name: Add "New contributor" label if needed
        uses: actions/github-script@v6
        with:
          script: |
            const creator = context.payload.sender.login
            const opts = github.rest.issues.listForRepo.endpoint.merge({
              ...context.issue,
              creator,
              state: 'all'
            })
            const issues = await github.paginate(opts)
            for (const issue of issues) {
              if (issue.number === context.issue.number) {
                continue
              }
              if (issue.pull_request) {
                return // creator is already a contributor
              }
            }
            await github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['New contributor']
            })
